.image {
    width: 60%;
    height: auto;
}

.section button {
    background-color: #1f91d3;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.section p {
    width: 60%;
    margin: 1em auto;
}

.main hr {
    max-width: 60%;
    margin: 2em auto;
}

.welcome p {
    text-align: justify;
    text-justify: inter-word;
}

.welcome {
    margin-bottom: 3em;
}
